{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmascriptVersion": 2018,
    "sourceType": "module"
  },
  "rules": {}
}